@layer tokens {
    :where(:root, :host) {
  --animations-backdrop-in: fade-in 250ms var(--easings-emphasized-in);
  --animations-backdrop-out: fade-out 200ms var(--easings-emphasized-out);
  --animations-dialog-in: slide-in 400ms var(--easings-emphasized-in);
  --animations-dialog-out: slide-out 200ms var(--easings-emphasized-out);
  --animations-drawer-in-left: slide-in-left 400ms var(--easings-emphasized-in);
  --animations-drawer-out-left: slide-out-left 200ms var(--easings-emphasized-out);
  --animations-drawer-in-right: slide-in-right 400ms var(--easings-emphasized-in);
  --animations-drawer-out-right: slide-out-right 200ms var(--easings-emphasized-out);
  --animations-skeleton-pulse: skeleton-pulse 2s var(--easings-pulse) infinite;
  --animations-fade-in: fade-in 400ms var(--easings-emphasized-in);
  --animations-collapse-in: collapse-in 250ms var(--easings-emphasized-in);
  --animations-collapse-out: collapse-out 200ms var(--easings-emphasized-out);
  --blurs-sm: 4px;
  --blurs-base: 8px;
  --blurs-md: 12px;
  --blurs-lg: 16px;
  --blurs-xl: 24px;
  --blurs-2xl: 40px;
  --blurs-3xl: 64px;
  --borders-none: none;
  --colors-current: currentColor;
  --colors-black: #000000;
  --colors-black-a1: rgba(0, 0, 0, 0.05);
  --colors-black-a2: rgba(0, 0, 0, 0.1);
  --colors-black-a3: rgba(0, 0, 0, 0.15);
  --colors-black-a4: rgba(0, 0, 0, 0.2);
  --colors-black-a5: rgba(0, 0, 0, 0.3);
  --colors-black-a6: rgba(0, 0, 0, 0.4);
  --colors-black-a7: rgba(0, 0, 0, 0.5);
  --colors-black-a8: rgba(0, 0, 0, 0.6);
  --colors-black-a9: rgba(0, 0, 0, 0.7);
  --colors-black-a10: rgba(0, 0, 0, 0.8);
  --colors-black-a11: rgba(0, 0, 0, 0.9);
  --colors-black-a12: rgba(0, 0, 0, 0.95);
  --colors-white: #ffffff;
  --colors-white-a1: rgba(255, 255, 255, 0.05);
  --colors-white-a2: rgba(255, 255, 255, 0.1);
  --colors-white-a3: rgba(255, 255, 255, 0.15);
  --colors-white-a4: rgba(255, 255, 255, 0.2);
  --colors-white-a5: rgba(255, 255, 255, 0.3);
  --colors-white-a6: rgba(255, 255, 255, 0.4);
  --colors-white-a7: rgba(255, 255, 255, 0.5);
  --colors-white-a8: rgba(255, 255, 255, 0.6);
  --colors-white-a9: rgba(255, 255, 255, 0.7);
  --colors-white-a10: rgba(255, 255, 255, 0.8);
  --colors-white-a11: rgba(255, 255, 255, 0.9);
  --colors-white-a12: rgba(255, 255, 255, 0.95);
  --colors-transparent: rgb(0 0 0 / 0);
  --colors-gray-light-1: #fcfcfc;
  --colors-gray-light-2: #f9f9f9;
  --colors-gray-light-3: #f0f0f0;
  --colors-gray-light-4: #e8e8e8;
  --colors-gray-light-5: #e0e0e0;
  --colors-gray-light-6: #d9d9d9;
  --colors-gray-light-7: #cecece;
  --colors-gray-light-8: #bbbbbb;
  --colors-gray-light-9: #8d8d8d;
  --colors-gray-light-10: #838383;
  --colors-gray-light-11: #646464;
  --colors-gray-light-12: #202020;
  --colors-gray-light-a1: #00000003;
  --colors-gray-light-a2: #00000006;
  --colors-gray-light-a3: #0000000f;
  --colors-gray-light-a4: #00000017;
  --colors-gray-light-a5: #0000001f;
  --colors-gray-light-a6: #00000026;
  --colors-gray-light-a7: #00000031;
  --colors-gray-light-a8: #00000044;
  --colors-gray-light-a9: #00000072;
  --colors-gray-light-a10: #0000007c;
  --colors-gray-light-a11: #0000009b;
  --colors-gray-light-a12: #000000df;
  --colors-gray-dark-1: #111111;
  --colors-gray-dark-2: #191919;
  --colors-gray-dark-3: #222222;
  --colors-gray-dark-4: #2a2a2a;
  --colors-gray-dark-5: #313131;
  --colors-gray-dark-6: #3a3a3a;
  --colors-gray-dark-7: #484848;
  --colors-gray-dark-8: #606060;
  --colors-gray-dark-9: #6e6e6e;
  --colors-gray-dark-10: #7b7b7b;
  --colors-gray-dark-11: #b4b4b4;
  --colors-gray-dark-12: #eeeeee;
  --colors-gray-dark-a1: #00000000;
  --colors-gray-dark-a2: #ffffff09;
  --colors-gray-dark-a3: #ffffff12;
  --colors-gray-dark-a4: #ffffff1b;
  --colors-gray-dark-a5: #ffffff22;
  --colors-gray-dark-a6: #ffffff2c;
  --colors-gray-dark-a7: #ffffff3b;
  --colors-gray-dark-a8: #ffffff55;
  --colors-gray-dark-a9: #ffffff64;
  --colors-gray-dark-a10: #ffffff72;
  --colors-gray-dark-a11: #ffffffaf;
  --colors-gray-dark-a12: #ffffffed;
  --colors-orange-light-1: #fefcfb;
  --colors-orange-light-2: #fff7ed;
  --colors-orange-light-3: #ffefd6;
  --colors-orange-light-4: #ffdfb5;
  --colors-orange-light-5: #ffd19a;
  --colors-orange-light-6: #ffc182;
  --colors-orange-light-7: #f5ae73;
  --colors-orange-light-8: #ec9455;
  --colors-orange-light-9: #f76b15;
  --colors-orange-light-10: #ef5f00;
  --colors-orange-light-11: #cc4e00;
  --colors-orange-light-12: #582d1d;
  --colors-orange-light-a1: #c0400004;
  --colors-orange-light-a2: #ff8e0012;
  --colors-orange-light-a3: #ff9c0029;
  --colors-orange-light-a4: #ff91014a;
  --colors-orange-light-a5: #ff8b0065;
  --colors-orange-light-a6: #ff81007d;
  --colors-orange-light-a7: #ed6c008c;
  --colors-orange-light-a8: #e35f00aa;
  --colors-orange-light-a9: #f65e00ea;
  --colors-orange-light-a10: #ef5f00;
  --colors-orange-light-a11: #cc4e00;
  --colors-orange-light-a12: #431200e2;
  --colors-orange-dark-1: #17120e;
  --colors-orange-dark-2: #1e160f;
  --colors-orange-dark-3: #331e0b;
  --colors-orange-dark-4: #462100;
  --colors-orange-dark-5: #562800;
  --colors-orange-dark-6: #66350c;
  --colors-orange-dark-7: #7e451d;
  --colors-orange-dark-8: #a35829;
  --colors-orange-dark-9: #f76b15;
  --colors-orange-dark-10: #ff801f;
  --colors-orange-dark-11: #ffa057;
  --colors-orange-dark-12: #ffe0c2;
  --colors-orange-dark-a1: #ec360007;
  --colors-orange-dark-a2: #fe6d000e;
  --colors-orange-dark-a3: #fb6a0025;
  --colors-orange-dark-a4: #ff590039;
  --colors-orange-dark-a5: #ff61004a;
  --colors-orange-dark-a6: #fd75045c;
  --colors-orange-dark-a7: #ff832c75;
  --colors-orange-dark-a8: #fe84389d;
  --colors-orange-dark-a9: #fe6d15f7;
  --colors-orange-dark-a10: #ff801f;
  --colors-orange-dark-a11: #ffa057;
  --colors-orange-dark-a12: #ffe0c2;
  --colors-neutral-light-1: #fcfcfc;
  --colors-neutral-light-2: #f9f9f9;
  --colors-neutral-light-3: #f0f0f0;
  --colors-neutral-light-4: #e8e8e8;
  --colors-neutral-light-5: #e0e0e0;
  --colors-neutral-light-6: #d9d9d9;
  --colors-neutral-light-7: #cecece;
  --colors-neutral-light-8: #bbbbbb;
  --colors-neutral-light-9: #8d8d8d;
  --colors-neutral-light-10: #838383;
  --colors-neutral-light-11: #646464;
  --colors-neutral-light-12: #202020;
  --colors-neutral-light-a1: #00000003;
  --colors-neutral-light-a2: #00000006;
  --colors-neutral-light-a3: #0000000f;
  --colors-neutral-light-a4: #00000017;
  --colors-neutral-light-a5: #0000001f;
  --colors-neutral-light-a6: #00000026;
  --colors-neutral-light-a7: #00000031;
  --colors-neutral-light-a8: #00000044;
  --colors-neutral-light-a9: #00000072;
  --colors-neutral-light-a10: #0000007c;
  --colors-neutral-light-a11: #0000009b;
  --colors-neutral-light-a12: #000000df;
  --colors-neutral-dark-1: #111111;
  --colors-neutral-dark-2: #191919;
  --colors-neutral-dark-3: #222222;
  --colors-neutral-dark-4: #2a2a2a;
  --colors-neutral-dark-5: #313131;
  --colors-neutral-dark-6: #3a3a3a;
  --colors-neutral-dark-7: #484848;
  --colors-neutral-dark-8: #606060;
  --colors-neutral-dark-9: #6e6e6e;
  --colors-neutral-dark-10: #7b7b7b;
  --colors-neutral-dark-11: #b4b4b4;
  --colors-neutral-dark-12: #eeeeee;
  --colors-neutral-dark-a1: #00000000;
  --colors-neutral-dark-a2: #ffffff09;
  --colors-neutral-dark-a3: #ffffff12;
  --colors-neutral-dark-a4: #ffffff1b;
  --colors-neutral-dark-a5: #ffffff22;
  --colors-neutral-dark-a6: #ffffff2c;
  --colors-neutral-dark-a7: #ffffff3b;
  --colors-neutral-dark-a8: #ffffff55;
  --colors-neutral-dark-a9: #ffffff64;
  --colors-neutral-dark-a10: #ffffff72;
  --colors-neutral-dark-a11: #ffffffaf;
  --colors-neutral-dark-a12: #ffffffed;
  --durations-fastest: 50ms;
  --durations-faster: 100ms;
  --durations-fast: 150ms;
  --durations-normal: 200ms;
  --durations-slow: 300ms;
  --durations-slower: 400ms;
  --durations-slowest: 500ms;
  --easings-pulse: cubic-bezier(0.4, 0.0, 0.6, 1.0);
  --easings-default: cubic-bezier(0.2, 0.0, 0, 1.0);
  --easings-emphasized-in: cubic-bezier(0.05, 0.7, 0.1, 1.0);
  --easings-emphasized-out: cubic-bezier(0.3, 0.0, 0.8, 0.15);
  --fonts-sans: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji", ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --fonts-serif: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif, ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
  --fonts-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace, ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --font-sizes-2xs: 0.5rem;
  --font-sizes-xs: 0.75rem;
  --font-sizes-sm: 0.875rem;
  --font-sizes-md: 1rem;
  --font-sizes-lg: 1.125rem;
  --font-sizes-xl: 1.25rem;
  --font-sizes-2xl: 1.5rem;
  --font-sizes-3xl: 1.875rem;
  --font-sizes-4xl: 2.25rem;
  --font-sizes-5xl: 3rem;
  --font-sizes-6xl: 3.75rem;
  --font-sizes-7xl: 4.5rem;
  --font-sizes-8xl: 6rem;
  --font-sizes-9xl: 8rem;
  --font-weights-thin: 100;
  --font-weights-extralight: 200;
  --font-weights-light: 300;
  --font-weights-normal: 400;
  --font-weights-medium: 500;
  --font-weights-semibold: 600;
  --font-weights-bold: 700;
  --font-weights-extrabold: 800;
  --font-weights-black: 900;
  --letter-spacings-tighter: -0.05em;
  --letter-spacings-tight: -0.025em;
  --letter-spacings-normal: 0em;
  --letter-spacings-wide: 0.025em;
  --letter-spacings-wider: 0.05em;
  --letter-spacings-widest: 0.1em;
  --line-heights-none: 1;
  --line-heights-tight: 1.25;
  --line-heights-normal: 1.5;
  --line-heights-relaxed: 1.75;
  --line-heights-loose: 2;
  --radii-none: 0;
  --radii-2xs: 0.0625rem;
  --radii-xs: 0.125rem;
  --radii-sm: 0.25rem;
  --radii-md: 0.375rem;
  --radii-lg: 0.5rem;
  --radii-xl: 0.75rem;
  --radii-2xl: 1rem;
  --radii-3xl: 1.5rem;
  --radii-full: 9999px;
  --sizes-0: 0rem;
  --sizes-1: 0.25rem;
  --sizes-2: 0.5rem;
  --sizes-3: 0.75rem;
  --sizes-4: 1rem;
  --sizes-5: 1.25rem;
  --sizes-6: 1.5rem;
  --sizes-7: 1.75rem;
  --sizes-8: 2rem;
  --sizes-9: 2.25rem;
  --sizes-10: 2.5rem;
  --sizes-11: 2.75rem;
  --sizes-12: 3rem;
  --sizes-14: 3.5rem;
  --sizes-16: 4rem;
  --sizes-20: 5rem;
  --sizes-24: 6rem;
  --sizes-28: 7rem;
  --sizes-32: 8rem;
  --sizes-36: 9rem;
  --sizes-40: 10rem;
  --sizes-44: 11rem;
  --sizes-48: 12rem;
  --sizes-52: 13rem;
  --sizes-56: 14rem;
  --sizes-60: 15rem;
  --sizes-64: 16rem;
  --sizes-72: 18rem;
  --sizes-80: 20rem;
  --sizes-96: 24rem;
  --sizes-0\.5: 0.125rem;
  --sizes-1\.5: 0.375rem;
  --sizes-2\.5: 0.625rem;
  --sizes-3\.5: 0.875rem;
  --sizes-4\.5: 1.125rem;
  --sizes-2xs: 16rem;
  --sizes-xs: 20rem;
  --sizes-sm: 24rem;
  --sizes-md: 28rem;
  --sizes-lg: 32rem;
  --sizes-xl: 36rem;
  --sizes-2xl: 42rem;
  --sizes-3xl: 48rem;
  --sizes-4xl: 56rem;
  --sizes-5xl: 64rem;
  --sizes-6xl: 72rem;
  --sizes-7xl: 80rem;
  --sizes-8xl: 90rem;
  --sizes-full: 100%;
  --sizes-min: min-content;
  --sizes-max: max-content;
  --sizes-fit: fit-content;
  --sizes-breakpoint-sm: 640px;
  --sizes-breakpoint-md: 768px;
  --sizes-breakpoint-lg: 1024px;
  --sizes-breakpoint-xl: 1280px;
  --sizes-breakpoint-2xl: 1536px;
  --spacing-0: 0rem;
  --spacing-1: 0.25rem;
  --spacing-2: 0.5rem;
  --spacing-3: 0.75rem;
  --spacing-4: 1rem;
  --spacing-5: 1.25rem;
  --spacing-6: 1.5rem;
  --spacing-7: 1.75rem;
  --spacing-8: 2rem;
  --spacing-9: 2.25rem;
  --spacing-10: 2.5rem;
  --spacing-11: 2.75rem;
  --spacing-12: 3rem;
  --spacing-14: 3.5rem;
  --spacing-16: 4rem;
  --spacing-20: 5rem;
  --spacing-24: 6rem;
  --spacing-28: 7rem;
  --spacing-32: 8rem;
  --spacing-36: 9rem;
  --spacing-40: 10rem;
  --spacing-44: 11rem;
  --spacing-48: 12rem;
  --spacing-52: 13rem;
  --spacing-56: 14rem;
  --spacing-60: 15rem;
  --spacing-64: 16rem;
  --spacing-72: 18rem;
  --spacing-80: 20rem;
  --spacing-96: 24rem;
  --spacing-0\.5: 0.125rem;
  --spacing-1\.5: 0.375rem;
  --spacing-2\.5: 0.625rem;
  --spacing-3\.5: 0.875rem;
  --spacing-4\.5: 1.125rem;
  --z-index-hide: -1;
  --z-index-base: 0;
  --z-index-docked: 10;
  --z-index-dropdown: 1000;
  --z-index-sticky: 1100;
  --z-index-banner: 1200;
  --z-index-overlay: 1300;
  --z-index-modal: 1400;
  --z-index-popover: 1500;
  --z-index-skip-link: 1600;
  --z-index-toast: 1700;
  --z-index-tooltip: 1800;
  --breakpoints-sm: 640px;
  --breakpoints-md: 768px;
  --breakpoints-lg: 1024px;
  --breakpoints-xl: 1280px;
  --breakpoints-2xl: 1536px;
  --colors-neutral-1: var(--colors-neutral-light-1);
  --colors-neutral-2: var(--colors-neutral-light-2);
  --colors-neutral-3: var(--colors-neutral-light-3);
  --colors-neutral-4: var(--colors-neutral-light-4);
  --colors-neutral-5: var(--colors-neutral-light-5);
  --colors-neutral-6: var(--colors-neutral-light-6);
  --colors-neutral-7: var(--colors-neutral-light-7);
  --colors-neutral-8: var(--colors-neutral-light-8);
  --colors-neutral-9: var(--colors-neutral-light-9);
  --colors-neutral-10: var(--colors-neutral-light-10);
  --colors-neutral-11: var(--colors-neutral-light-11);
  --colors-neutral-12: var(--colors-neutral-light-12);
  --colors-neutral-a1: var(--colors-neutral-light-a1);
  --colors-neutral-a2: var(--colors-neutral-light-a2);
  --colors-neutral-a3: var(--colors-neutral-light-a3);
  --colors-neutral-a4: var(--colors-neutral-light-a4);
  --colors-neutral-a5: var(--colors-neutral-light-a5);
  --colors-neutral-a6: var(--colors-neutral-light-a6);
  --colors-neutral-a7: var(--colors-neutral-light-a7);
  --colors-neutral-a8: var(--colors-neutral-light-a8);
  --colors-neutral-a9: var(--colors-neutral-light-a9);
  --colors-neutral-a10: var(--colors-neutral-light-a10);
  --colors-neutral-a11: var(--colors-neutral-light-a11);
  --colors-neutral-a12: var(--colors-neutral-light-a12);
  --colors-neutral-default: black;
  --colors-neutral-emphasized: var(--colors-gray-12);
  --colors-neutral-fg: white;
  --colors-neutral-text: black;
  --colors-orange-1: var(--colors-orange-light-1);
  --colors-orange-2: var(--colors-orange-light-2);
  --colors-orange-3: var(--colors-orange-light-3);
  --colors-orange-4: var(--colors-orange-light-4);
  --colors-orange-5: var(--colors-orange-light-5);
  --colors-orange-6: var(--colors-orange-light-6);
  --colors-orange-7: var(--colors-orange-light-7);
  --colors-orange-8: var(--colors-orange-light-8);
  --colors-orange-9: var(--colors-orange-light-9);
  --colors-orange-10: var(--colors-orange-light-10);
  --colors-orange-11: var(--colors-orange-light-11);
  --colors-orange-12: var(--colors-orange-light-12);
  --colors-orange-a1: var(--colors-orange-light-a1);
  --colors-orange-a2: var(--colors-orange-light-a2);
  --colors-orange-a3: var(--colors-orange-light-a3);
  --colors-orange-a4: var(--colors-orange-light-a4);
  --colors-orange-a5: var(--colors-orange-light-a5);
  --colors-orange-a6: var(--colors-orange-light-a6);
  --colors-orange-a7: var(--colors-orange-light-a7);
  --colors-orange-a8: var(--colors-orange-light-a8);
  --colors-orange-a9: var(--colors-orange-light-a9);
  --colors-orange-a10: var(--colors-orange-light-a10);
  --colors-orange-a11: var(--colors-orange-light-a11);
  --colors-orange-a12: var(--colors-orange-light-a12);
  --colors-orange-default: var(--colors-orange-9);
  --colors-orange-emphasized: var(--colors-orange-10);
  --colors-orange-fg: white;
  --colors-orange-text: var(--colors-orange-a11);
  --colors-gray-1: var(--colors-neutral-light-1);
  --colors-gray-2: var(--colors-neutral-light-2);
  --colors-gray-3: var(--colors-neutral-light-3);
  --colors-gray-4: var(--colors-neutral-light-4);
  --colors-gray-5: var(--colors-neutral-light-5);
  --colors-gray-6: var(--colors-neutral-light-6);
  --colors-gray-7: var(--colors-neutral-light-7);
  --colors-gray-8: var(--colors-neutral-light-8);
  --colors-gray-9: var(--colors-neutral-light-9);
  --colors-gray-10: var(--colors-neutral-light-10);
  --colors-gray-11: var(--colors-neutral-light-11);
  --colors-gray-12: var(--colors-neutral-light-12);
  --colors-gray-a1: var(--colors-neutral-light-a1);
  --colors-gray-a2: var(--colors-neutral-light-a2);
  --colors-gray-a3: var(--colors-neutral-light-a3);
  --colors-gray-a4: var(--colors-neutral-light-a4);
  --colors-gray-a5: var(--colors-neutral-light-a5);
  --colors-gray-a6: var(--colors-neutral-light-a6);
  --colors-gray-a7: var(--colors-neutral-light-a7);
  --colors-gray-a8: var(--colors-neutral-light-a8);
  --colors-gray-a9: var(--colors-neutral-light-a9);
  --colors-gray-a10: var(--colors-neutral-light-a10);
  --colors-gray-a11: var(--colors-neutral-light-a11);
  --colors-gray-a12: var(--colors-neutral-light-a12);
  --colors-gray-default: black;
  --colors-gray-emphasized: var(--colors-gray-12);
  --colors-gray-fg: white;
  --colors-gray-text: black;
  --colors-accent-1: var(--colors-orange-light-1);
  --colors-accent-2: var(--colors-orange-light-2);
  --colors-accent-3: var(--colors-orange-light-3);
  --colors-accent-4: var(--colors-orange-light-4);
  --colors-accent-5: var(--colors-orange-light-5);
  --colors-accent-6: var(--colors-orange-light-6);
  --colors-accent-7: var(--colors-orange-light-7);
  --colors-accent-8: var(--colors-orange-light-8);
  --colors-accent-9: var(--colors-orange-light-9);
  --colors-accent-10: var(--colors-orange-light-10);
  --colors-accent-11: var(--colors-orange-light-11);
  --colors-accent-12: var(--colors-orange-light-12);
  --colors-accent-a1: var(--colors-orange-light-a1);
  --colors-accent-a2: var(--colors-orange-light-a2);
  --colors-accent-a3: var(--colors-orange-light-a3);
  --colors-accent-a4: var(--colors-orange-light-a4);
  --colors-accent-a5: var(--colors-orange-light-a5);
  --colors-accent-a6: var(--colors-orange-light-a6);
  --colors-accent-a7: var(--colors-orange-light-a7);
  --colors-accent-a8: var(--colors-orange-light-a8);
  --colors-accent-a9: var(--colors-orange-light-a9);
  --colors-accent-a10: var(--colors-orange-light-a10);
  --colors-accent-a11: var(--colors-orange-light-a11);
  --colors-accent-a12: var(--colors-orange-light-a12);
  --colors-accent-default: var(--colors-orange-9);
  --colors-accent-emphasized: var(--colors-orange-10);
  --colors-accent-fg: white;
  --colors-accent-text: var(--colors-orange-a11);
  --colors-bg-canvas: var(--colors-gray-1);
  --colors-bg-default: white;
  --colors-bg-subtle: var(--colors-gray-2);
  --colors-bg-muted: var(--colors-gray-3);
  --colors-bg-emphasized: var(--colors-gray-4);
  --colors-bg-disabled: var(--colors-gray-3);
  --colors-fg-default: var(--colors-gray-12);
  --colors-fg-muted: var(--colors-gray-11);
  --colors-fg-subtle: var(--colors-gray-10);
  --colors-fg-disabled: var(--colors-gray-7);
  --colors-border-default: var(--colors-gray-7);
  --colors-border-muted: var(--colors-gray-6);
  --colors-border-subtle: var(--colors-gray-4);
  --colors-border-disabled: var(--colors-gray-5);
  --colors-border-outline: var(--colors-gray-a9);
  --shadows-xs: 0px 1px 2px var(--colors-gray-a5), 0px 0px 1px var(--colors-gray-a7);
  --shadows-sm: 0px 2px 4px var(--colors-gray-a3), 0px 0px 1px var(--colors-gray-a7);
  --shadows-md: 0px 4px 8px var(--colors-gray-a3), 0px 0px 1px var(--colors-gray-a7);
  --shadows-lg: 0px 8px 16px var(--colors-gray-a3), 0px 0px 1px var(--colors-gray-a7);
  --shadows-xl: 0px 16px 24px var(--colors-gray-a3), 0px 0px 1px var(--colors-gray-a7);
  --shadows-2xl: 0px 24px 40px var(--colors-gray-a3), 0px 0px 1px var(--colors-gray-a7);
  --radii-l1: var(--radii-xs);
  --radii-l2: var(--radii-sm);
  --radii-l3: var(--radii-md)
}

.dark {
  --colors-neutral-1: var(--colors-neutral-dark-1);
  --colors-neutral-2: var(--colors-neutral-dark-2);
  --colors-neutral-3: var(--colors-neutral-dark-3);
  --colors-neutral-4: var(--colors-neutral-dark-4);
  --colors-neutral-5: var(--colors-neutral-dark-5);
  --colors-neutral-6: var(--colors-neutral-dark-6);
  --colors-neutral-7: var(--colors-neutral-dark-7);
  --colors-neutral-8: var(--colors-neutral-dark-8);
  --colors-neutral-9: var(--colors-neutral-dark-9);
  --colors-neutral-10: var(--colors-neutral-dark-10);
  --colors-neutral-11: var(--colors-neutral-dark-11);
  --colors-neutral-12: var(--colors-neutral-dark-12);
  --colors-neutral-a1: var(--colors-neutral-dark-a1);
  --colors-neutral-a2: var(--colors-neutral-dark-a2);
  --colors-neutral-a3: var(--colors-neutral-dark-a3);
  --colors-neutral-a4: var(--colors-neutral-dark-a4);
  --colors-neutral-a5: var(--colors-neutral-dark-a5);
  --colors-neutral-a6: var(--colors-neutral-dark-a6);
  --colors-neutral-a7: var(--colors-neutral-dark-a7);
  --colors-neutral-a8: var(--colors-neutral-dark-a8);
  --colors-neutral-a9: var(--colors-neutral-dark-a9);
  --colors-neutral-a10: var(--colors-neutral-dark-a10);
  --colors-neutral-a11: var(--colors-neutral-dark-a11);
  --colors-neutral-a12: var(--colors-neutral-dark-a12);
  --colors-neutral-default: white;
  --colors-neutral-fg: black;
  --colors-neutral-text: white;
  --colors-orange-1: var(--colors-orange-dark-1);
  --colors-orange-2: var(--colors-orange-dark-2);
  --colors-orange-3: var(--colors-orange-dark-3);
  --colors-orange-4: var(--colors-orange-dark-4);
  --colors-orange-5: var(--colors-orange-dark-5);
  --colors-orange-6: var(--colors-orange-dark-6);
  --colors-orange-7: var(--colors-orange-dark-7);
  --colors-orange-8: var(--colors-orange-dark-8);
  --colors-orange-9: var(--colors-orange-dark-9);
  --colors-orange-10: var(--colors-orange-dark-10);
  --colors-orange-11: var(--colors-orange-dark-11);
  --colors-orange-12: var(--colors-orange-dark-12);
  --colors-orange-a1: var(--colors-orange-dark-a1);
  --colors-orange-a2: var(--colors-orange-dark-a2);
  --colors-orange-a3: var(--colors-orange-dark-a3);
  --colors-orange-a4: var(--colors-orange-dark-a4);
  --colors-orange-a5: var(--colors-orange-dark-a5);
  --colors-orange-a6: var(--colors-orange-dark-a6);
  --colors-orange-a7: var(--colors-orange-dark-a7);
  --colors-orange-a8: var(--colors-orange-dark-a8);
  --colors-orange-a9: var(--colors-orange-dark-a9);
  --colors-orange-a10: var(--colors-orange-dark-a10);
  --colors-orange-a11: var(--colors-orange-dark-a11);
  --colors-orange-a12: var(--colors-orange-dark-a12);
  --colors-gray-1: var(--colors-neutral-dark-1);
  --colors-gray-2: var(--colors-neutral-dark-2);
  --colors-gray-3: var(--colors-neutral-dark-3);
  --colors-gray-4: var(--colors-neutral-dark-4);
  --colors-gray-5: var(--colors-neutral-dark-5);
  --colors-gray-6: var(--colors-neutral-dark-6);
  --colors-gray-7: var(--colors-neutral-dark-7);
  --colors-gray-8: var(--colors-neutral-dark-8);
  --colors-gray-9: var(--colors-neutral-dark-9);
  --colors-gray-10: var(--colors-neutral-dark-10);
  --colors-gray-11: var(--colors-neutral-dark-11);
  --colors-gray-12: var(--colors-neutral-dark-12);
  --colors-gray-a1: var(--colors-neutral-dark-a1);
  --colors-gray-a2: var(--colors-neutral-dark-a2);
  --colors-gray-a3: var(--colors-neutral-dark-a3);
  --colors-gray-a4: var(--colors-neutral-dark-a4);
  --colors-gray-a5: var(--colors-neutral-dark-a5);
  --colors-gray-a6: var(--colors-neutral-dark-a6);
  --colors-gray-a7: var(--colors-neutral-dark-a7);
  --colors-gray-a8: var(--colors-neutral-dark-a8);
  --colors-gray-a9: var(--colors-neutral-dark-a9);
  --colors-gray-a10: var(--colors-neutral-dark-a10);
  --colors-gray-a11: var(--colors-neutral-dark-a11);
  --colors-gray-a12: var(--colors-neutral-dark-a12);
  --colors-gray-default: white;
  --colors-gray-fg: black;
  --colors-gray-text: white;
  --colors-accent-1: var(--colors-orange-dark-1);
  --colors-accent-2: var(--colors-orange-dark-2);
  --colors-accent-3: var(--colors-orange-dark-3);
  --colors-accent-4: var(--colors-orange-dark-4);
  --colors-accent-5: var(--colors-orange-dark-5);
  --colors-accent-6: var(--colors-orange-dark-6);
  --colors-accent-7: var(--colors-orange-dark-7);
  --colors-accent-8: var(--colors-orange-dark-8);
  --colors-accent-9: var(--colors-orange-dark-9);
  --colors-accent-10: var(--colors-orange-dark-10);
  --colors-accent-11: var(--colors-orange-dark-11);
  --colors-accent-12: var(--colors-orange-dark-12);
  --colors-accent-a1: var(--colors-orange-dark-a1);
  --colors-accent-a2: var(--colors-orange-dark-a2);
  --colors-accent-a3: var(--colors-orange-dark-a3);
  --colors-accent-a4: var(--colors-orange-dark-a4);
  --colors-accent-a5: var(--colors-orange-dark-a5);
  --colors-accent-a6: var(--colors-orange-dark-a6);
  --colors-accent-a7: var(--colors-orange-dark-a7);
  --colors-accent-a8: var(--colors-orange-dark-a8);
  --colors-accent-a9: var(--colors-orange-dark-a9);
  --colors-accent-a10: var(--colors-orange-dark-a10);
  --colors-accent-a11: var(--colors-orange-dark-a11);
  --colors-accent-a12: var(--colors-orange-dark-a12);
  --colors-bg-default: var(--colors-gray-2);
  --colors-bg-subtle: var(--colors-gray-3);
  --colors-bg-muted: var(--colors-gray-4);
  --colors-bg-emphasized: var(--colors-gray-5);
  --colors-bg-disabled: var(--colors-gray-4);
  --shadows-xs: 0px 1px 1px var(--colors-black-a12), 0px 0px 1px inset var(--colors-gray-a7);
  --shadows-sm: 0px 2px 4px var(--colors-black-a10), 0px 0px 1px inset var(--colors-gray-a7);
  --shadows-md: 0px 4px 8px var(--colors-black-a10), 0px 0px 1px inset var(--colors-gray-a7);
  --shadows-lg: 0px 8px 16px var(--colors-black-a10), 0px 0px 1px inset var(--colors-gray-a7);
  --shadows-xl: 0px 16px 24px var(--colors-black-a10), 0px 0px 1px inset var(--colors-gray-a7);
  --shadows-2xl: 0px 24px 40px var(--colors-black-a10), 0px 0px 1px inset var(--colors-gray-a7)
}
  }
  